In [8]:
!pwd

/Users/marie-sophiechenevier/Library/CloudStorage/Dropbox/2024-DataScience/GitHub/2-Jedha_Fullstack/1_intro_to_python/4_pandas

In [9]:
path_to_file = "/Users/marie-sophiechenevier/Library/CloudStorage/Dropbox/2024-DataScience/GitHub/2-Jedha_Fullstack/1_intro_to_python/4_pandas"

In [10]:
import pandas as pd
data = pd.read_csv(path_to_file + "/covid-19.csv")
data.head()

,Unnamed: 0,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,continentExp
0,1257,2020-04-23,23,4,2020,933,264,Belgium,BE,BEL,11422068.0,Europe
1,1258,2020-04-22,22,4,2020,973,170,Belgium,BE,BEL,11422068.0,Europe
2,1259,2020-04-21,21,4,2020,1487,145,Belgium,BE,BEL,11422068.0,Europe
3,1260,2020-04-20,20,4,2020,1313,230,Belgium,BE,BEL,11422068.0,Europe
4,1261,2020-04-19,19,4,2020,1045,290,Belgium,BE,BEL,11422068.0,Europe

In [11]:
data = data.iloc[:,1:]
data.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,continentExp
0,2020-04-23,23,4,2020,933,264,Belgium,BE,BEL,11422068.0,Europe
1,2020-04-22,22,4,2020,973,170,Belgium,BE,BEL,11422068.0,Europe
2,2020-04-21,21,4,2020,1487,145,Belgium,BE,BEL,11422068.0,Europe
3,2020-04-20,20,4,2020,1313,230,Belgium,BE,BEL,11422068.0,Europe
4,2020-04-19,19,4,2020,1045,290,Belgium,BE,BEL,11422068.0,Europe

In [12]:
data.tail()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,continentExp
685,2020-01-04,4,1,2020,0,0,United_States_of_America,US,USA,327167434.0,America
686,2020-01-03,3,1,2020,0,0,United_States_of_America,US,USA,327167434.0,America
687,2020-01-02,2,1,2020,0,0,United_States_of_America,US,USA,327167434.0,America
688,2020-01-01,1,1,2020,0,0,United_States_of_America,US,USA,327167434.0,America
689,2019-12-31,31,12,2019,0,0,United_States_of_America,US,USA,327167434.0,America

In [13]:
data["geoId"] == "BE"

0       True
1       True
2       True
3       True
4       True
       ...
685    False
686    False
687    False
688    False
689    False
Name: geoId, Length: 690, dtype: bool

In [14]:
mask = data["geoId"] == "BE"
data[mask]

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,continentExp
0,2020-04-23,23,4,2020,933,264,Belgium,BE,BEL,11422068.0,Europe
1,2020-04-22,22,4,2020,973,170,Belgium,BE,BEL,11422068.0,Europe
2,2020-04-21,21,4,2020,1487,145,Belgium,BE,BEL,11422068.0,Europe
3,2020-04-20,20,4,2020,1313,230,Belgium,BE,BEL,11422068.0,Europe
4,2020-04-19,19,4,2020,1045,290,Belgium,BE,BEL,11422068.0,Europe
...,...,...,...,...,...,...,...,...,...,...,...
110,2020-01-04,4,1,2020,0,0,Belgium,BE,BEL,11422068.0,Europe
111,2020-01-03,3,1,2020,0,0,Belgium,BE,BEL,11422068.0,Europe
112,2020-01-02,2,1,2020,0,0,Belgium,BE,BEL,11422068.0,Europe
113,2020-01-01,1,1,2020,0,0,Belgium,BE,BEL,11422068.0,Europe
114,2019-12-31,31,12,2019,0,0,Belgium,BE,BEL,11422068.0,Europe

In [18]:
mask = data["cases"] > 200
data[mask]

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,continentExp
0,2020-04-23,23,4,2020,933,264,Belgium,BE,BEL,11422068.0,Europe
1,2020-04-22,22,4,2020,973,170,Belgium,BE,BEL,11422068.0,Europe
2,2020-04-21,21,4,2020,1487,145,Belgium,BE,BEL,11422068.0,Europe
3,2020-04-20,20,4,2020,1313,230,Belgium,BE,BEL,11422068.0,Europe
4,2020-04-19,19,4,2020,1045,290,Belgium,BE,BEL,11422068.0,Europe
...,...,...,...,...,...,...,...,...,...,...,...
614,2020-03-15,15,3,2020,777,10,United_States_of_America,US,USA,327167434.0,America
615,2020-03-14,14,3,2020,511,7,United_States_of_America,US,USA,327167434.0,America
616,2020-03-13,13,3,2020,351,10,United_States_of_America,US,USA,327167434.0,America
617,2020-03-12,12,3,2020,287,2,United_States_of_America,US,USA,327167434.0,America
618,2020-03-11,11,3,2020,271,2,United_States_of_America,US,USA,327167434.0,America