In [140]:
!pwd

/Users/marie-sophiechenevier/Library/CloudStorage/Dropbox/2024-DataScience/GitHub/2-Jedha_Fullstack/1_intro_to_python/4_pandas

In [141]:
path_to_file = "/Users/marie-sophiechenevier/Library/CloudStorage/Dropbox/2024-DataScience/GitHub/2-Jedha_Fullstack/1_intro_to_python/4_pandas"
import pandas as pd
data = pd.read_csv(path_to_file + "/covid-19.csv")
data = data.iloc[:,1:]
data.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,continentExp
0,2020-04-23,23,4,2020,933,264,Belgium,BE,BEL,11422068.0,Europe
1,2020-04-22,22,4,2020,973,170,Belgium,BE,BEL,11422068.0,Europe
2,2020-04-21,21,4,2020,1487,145,Belgium,BE,BEL,11422068.0,Europe
3,2020-04-20,20,4,2020,1313,230,Belgium,BE,BEL,11422068.0,Europe
4,2020-04-19,19,4,2020,1045,290,Belgium,BE,BEL,11422068.0,Europe

In [142]:
mask = data["geoId"] == "US"
us_data = data[mask]
us_data.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,continentExp
575,2020-04-23,23,4,2020,17588,1721,United_States_of_America,US,USA,327167434.0,America
576,2020-04-22,22,4,2020,37289,2524,United_States_of_America,US,USA,327167434.0,America
577,2020-04-21,21,4,2020,28065,1857,United_States_of_America,US,USA,327167434.0,America
578,2020-04-20,20,4,2020,24601,1772,United_States_of_America,US,USA,327167434.0,America
579,2020-04-19,19,4,2020,32922,1856,United_States_of_America,US,USA,327167434.0,America

In [143]:
us_data = us_data.reset_index(drop=True)
us_data.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,continentExp
0,2020-04-23,23,4,2020,17588,1721,United_States_of_America,US,USA,327167434.0,America
1,2020-04-22,22,4,2020,37289,2524,United_States_of_America,US,USA,327167434.0,America
2,2020-04-21,21,4,2020,28065,1857,United_States_of_America,US,USA,327167434.0,America
3,2020-04-20,20,4,2020,24601,1772,United_States_of_America,US,USA,327167434.0,America
4,2020-04-19,19,4,2020,32922,1856,United_States_of_America,US,USA,327167434.0,America

In [144]:
us_data["cumulated_cases"] = 0
us_data.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,continentExp,cumulated_cases
0,2020-04-23,23,4,2020,17588,1721,United_States_of_America,US,USA,327167434.0,America,0
1,2020-04-22,22,4,2020,37289,2524,United_States_of_America,US,USA,327167434.0,America,0
2,2020-04-21,21,4,2020,28065,1857,United_States_of_America,US,USA,327167434.0,America,0
3,2020-04-20,20,4,2020,24601,1772,United_States_of_America,US,USA,327167434.0,America,0
4,2020-04-19,19,4,2020,32922,1856,United_States_of_America,US,USA,327167434.0,America,0

In [145]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [146]:
[i for i in range(0, 10, 1)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [147]:
[i for i in range(10 , 0, -1)]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [148]:
[i for i in range(9 , -1, -1)]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [149]:
total_rows = len(us_data)
print(total_rows)

115

In [150]:
us_data.tail()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,continentExp,cumulated_cases
110,2020-01-04,4,1,2020,0,0,United_States_of_America,US,USA,327167434.0,America,0
111,2020-01-03,3,1,2020,0,0,United_States_of_America,US,USA,327167434.0,America,0
112,2020-01-02,2,1,2020,0,0,United_States_of_America,US,USA,327167434.0,America,0
113,2020-01-01,1,1,2020,0,0,United_States_of_America,US,USA,327167434.0,America,0
114,2019-12-31,31,12,2019,0,0,United_States_of_America,US,USA,327167434.0,America,0

In [151]:
for i in range(total_rows -2,-1,-1):
    us_data.loc[i,"cumulated_cases"] = us_data.loc[i, "cases"] + us_data.loc[i + 1, "cumulated_cases"]

In [152]:
us_data.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,continentExp,cumulated_cases
0,2020-04-23,23,4,2020,17588,1721,United_States_of_America,US,USA,327167434.0,America,842629
1,2020-04-22,22,4,2020,37289,2524,United_States_of_America,US,USA,327167434.0,America,825041
2,2020-04-21,21,4,2020,28065,1857,United_States_of_America,US,USA,327167434.0,America,787752
3,2020-04-20,20,4,2020,24601,1772,United_States_of_America,US,USA,327167434.0,America,759687
4,2020-04-19,19,4,2020,32922,1856,United_States_of_America,US,USA,327167434.0,America,735086

In [153]:
us_data["new_cases"] = 0
for i in range(total_rows -2,-1,-1):
    us_data.loc[i,"new_cases"] = us_data.loc[i,"cumulated_cases"] - us_data.loc[i + 1,"cumulated_cases"]

In [154]:
us_data.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,continentExp,cumulated_cases,new_cases
0,2020-04-23,23,4,2020,17588,1721,United_States_of_America,US,USA,327167434.0,America,842629,17588
1,2020-04-22,22,4,2020,37289,2524,United_States_of_America,US,USA,327167434.0,America,825041,37289
2,2020-04-21,21,4,2020,28065,1857,United_States_of_America,US,USA,327167434.0,America,787752,28065
3,2020-04-20,20,4,2020,24601,1772,United_States_of_America,US,USA,327167434.0,America,759687,24601
4,2020-04-19,19,4,2020,32922,1856,United_States_of_America,US,USA,327167434.0,America,735086,32922

In [155]:
us_data["growth_ratio"] = 0
for i in range(total_rows -2, -1, -1):
    us_data.loc[i, "growth_ratio"] = us_data.loc[i, "new_cases"] / us_data.loc[i + 1, "new_cases"]

/var/folders/dm/k1smy03547zg0plbdy1r1l380000gn/T/ipykernel_51115/2088443467.py:3: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "new_cases"] / us_data.loc[i + 1, "new_cases"]
/var/folders/dm/k1smy03547zg0plbdy1r1l380000gn/T/ipykernel_51115/2088443467.py:3: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "new_cases"] / us_data.loc[i + 1, "new_cases"]
/var/folders/dm/k1smy03547zg0plbdy1r1l380000gn/T/ipykernel_51115/2088443467.py:3: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "new_cases"] / us_data.loc[i + 1, "new_cases"]
/var/folders/dm/k1smy03547zg0plbdy1r1l380000gn/T/ipykernel_51115/2088443467.py:3: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "new_cases"] / us_data.loc[i + 1, "new_cases"]
/var/folders/dm/k1smy03547zg0plbdy1r1l380000gn/T/ipykernel_51115/2088443467.py:3: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "new_cases"] / us_data.loc[i + 1, "new_cases"]
/var/folders/dm/k1smy03547zg0plbdy1r1l380000gn/T/ipykernel_51115/2088443467.py:3: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "new_cases"] / us_data.loc[i + 1, "new_cases"]
/var/folders/dm/k1smy03547zg0plbdy1r1l380000gn/T/ipykernel_51115/2088443467.py:3: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "new_cases"] / us_data.loc[i + 1, "new_cases"]
/var/folders/dm/k1smy03547zg0plbdy1r1l380000gn/T/ipykernel_51115/2088443467.py:3: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "new_cases"] / us_data.loc[i + 1, "new_cases"]
/var/folders/dm/k1smy03547zg0plbdy1r1l380000gn/T/ipykernel_51115/2088443467.py:3: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "new_cases"] / us_data.loc[i + 1, "new_cases"]
/var/folders/dm/k1smy03547zg0plbdy1r1l380000gn/T/ipykernel_51115/2088443467.py:3: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "new_cases"] / us_data.loc[i + 1, "new_cases"]
/var/folders/dm/k1smy03547zg0plbdy1r1l380000gn/T/ipykernel_51115/2088443467.py:3: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "new_cases"] / us_data.loc[i + 1, "new_cases"]
/var/folders/dm/k1smy03547zg0plbdy1r1l380000gn/T/ipykernel_51115/2088443467.py:3: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "new_cases"] / us_data.loc[i + 1, "new_cases"]
/var/folders/dm/k1smy03547zg0plbdy1r1l380000gn/T/ipykernel_51115/2088443467.py:3: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "new_cases"] / us_data.loc[i + 1, "new_cases"]
/var/folders/dm/k1smy03547zg0plbdy1r1l380000gn/T/ipykernel_51115/2088443467.py:3: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "new_cases"] / us_data.loc[i + 1, "new_cases"]
/var/folders/dm/k1smy03547zg0plbdy1r1l380000gn/T/ipykernel_51115/2088443467.py:3: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "new_cases"] / us_data.loc[i + 1, "new_cases"]
/var/folders/dm/k1smy03547zg0plbdy1r1l380000gn/T/ipykernel_51115/2088443467.py:3: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "new_cases"] / us_data.loc[i + 1, "new_cases"]
/var/folders/dm/k1smy03547zg0plbdy1r1l380000gn/T/ipykernel_51115/2088443467.py:3: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "new_cases"] / us_data.loc[i + 1, "new_cases"]
/var/folders/dm/k1smy03547zg0plbdy1r1l380000gn/T/ipykernel_51115/2088443467.py:3: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "new_cases"] / us_data.loc[i + 1, "new_cases"]
/var/folders/dm/k1smy03547zg0plbdy1r1l380000gn/T/ipykernel_51115/2088443467.py:3: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "new_cases"] / us_data.loc[i + 1, "new_cases"]
/var/folders/dm/k1smy03547zg0plbdy1r1l380000gn/T/ipykernel_51115/2088443467.py:3: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "new_cases"] / us_data.loc[i + 1, "new_cases"]
/var/folders/dm/k1smy03547zg0plbdy1r1l380000gn/T/ipykernel_51115/2088443467.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "new_cases"] / us_data.loc[i + 1, "new_cases"]
/var/folders/dm/k1smy03547zg0plbdy1r1l380000gn/T/ipykernel_51115/2088443467.py:3: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "new_cases"] / us_data.loc[i + 1, "new_cases"]
/var/folders/dm/k1smy03547zg0plbdy1r1l380000gn/T/ipykernel_51115/2088443467.py:3: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "new_cases"] / us_data.loc[i + 1, "new_cases"]
/var/folders/dm/k1smy03547zg0plbdy1r1l380000gn/T/ipykernel_51115/2088443467.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "new_cases"] / us_data.loc[i + 1, "new_cases"]
/var/folders/dm/k1smy03547zg0plbdy1r1l380000gn/T/ipykernel_51115/2088443467.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "new_cases"] / us_data.loc[i + 1, "new_cases"]
/var/folders/dm/k1smy03547zg0plbdy1r1l380000gn/T/ipykernel_51115/2088443467.py:3: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "new_cases"] / us_data.loc[i + 1, "new_cases"]
/var/folders/dm/k1smy03547zg0plbdy1r1l380000gn/T/ipykernel_51115/2088443467.py:3: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "new_cases"] / us_data.loc[i + 1, "new_cases"]
/var/folders/dm/k1smy03547zg0plbdy1r1l380000gn/T/ipykernel_51115/2088443467.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "new_cases"] / us_data.loc[i + 1, "new_cases"]
/var/folders/dm/k1smy03547zg0plbdy1r1l380000gn/T/ipykernel_51115/2088443467.py:3: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "new_cases"] / us_data.loc[i + 1, "new_cases"]
/var/folders/dm/k1smy03547zg0plbdy1r1l380000gn/T/ipykernel_51115/2088443467.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "new_cases"] / us_data.loc[i + 1, "new_cases"]
/var/folders/dm/k1smy03547zg0plbdy1r1l380000gn/T/ipykernel_51115/2088443467.py:3: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "new_cases"] / us_data.loc[i + 1, "new_cases"]
/var/folders/dm/k1smy03547zg0plbdy1r1l380000gn/T/ipykernel_51115/2088443467.py:3: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "new_cases"] / us_data.loc[i + 1, "new_cases"]
/var/folders/dm/k1smy03547zg0plbdy1r1l380000gn/T/ipykernel_51115/2088443467.py:3: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "new_cases"] / us_data.loc[i + 1, "new_cases"]
/var/folders/dm/k1smy03547zg0plbdy1r1l380000gn/T/ipykernel_51115/2088443467.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "new_cases"] / us_data.loc[i + 1, "new_cases"]
/var/folders/dm/k1smy03547zg0plbdy1r1l380000gn/T/ipykernel_51115/2088443467.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "new_cases"] / us_data.loc[i + 1, "new_cases"]
/var/folders/dm/k1smy03547zg0plbdy1r1l380000gn/T/ipykernel_51115/2088443467.py:3: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "new_cases"] / us_data.loc[i + 1, "new_cases"]
/var/folders/dm/k1smy03547zg0plbdy1r1l380000gn/T/ipykernel_51115/2088443467.py:3: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "new_cases"] / us_data.loc[i + 1, "new_cases"]
/var/folders/dm/k1smy03547zg0plbdy1r1l380000gn/T/ipykernel_51115/2088443467.py:3: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "new_cases"] / us_data.loc[i + 1, "new_cases"]
/var/folders/dm/k1smy03547zg0plbdy1r1l380000gn/T/ipykernel_51115/2088443467.py:3: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "new_cases"] / us_data.loc[i + 1, "new_cases"]
/var/folders/dm/k1smy03547zg0plbdy1r1l380000gn/T/ipykernel_51115/2088443467.py:3: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "new_cases"] / us_data.loc[i + 1, "new_cases"]
/var/folders/dm/k1smy03547zg0plbdy1r1l380000gn/T/ipykernel_51115/2088443467.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "new_cases"] / us_data.loc[i + 1, "new_cases"]
/var/folders/dm/k1smy03547zg0plbdy1r1l380000gn/T/ipykernel_51115/2088443467.py:3: RuntimeWarning: invalid value encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "new_cases"] / us_data.loc[i + 1, "new_cases"]
/var/folders/dm/k1smy03547zg0plbdy1r1l380000gn/T/ipykernel_51115/2088443467.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "new_cases"] / us_data.loc[i + 1, "new_cases"]
/var/folders/dm/k1smy03547zg0plbdy1r1l380000gn/T/ipykernel_51115/2088443467.py:3: RuntimeWarning: divide by zero encountered in scalar divide
  us_data.loc[i, "growth_ratio"] = us_data.loc[i, "new_cases"] / us_data.loc[i + 1, "new_cases"]

In [156]:
us_data.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,continentExp,cumulated_cases,new_cases,growth_ratio
0,2020-04-23,23,4,2020,17588,1721,United_States_of_America,US,USA,327167434.0,America,842629,17588,0.471667
1,2020-04-22,22,4,2020,37289,2524,United_States_of_America,US,USA,327167434.0,America,825041,37289,1.328666
2,2020-04-21,21,4,2020,28065,1857,United_States_of_America,US,USA,327167434.0,America,787752,28065,1.140807
3,2020-04-20,20,4,2020,24601,1772,United_States_of_America,US,USA,327167434.0,America,759687,24601,0.747251
4,2020-04-19,19,4,2020,32922,1856,United_States_of_America,US,USA,327167434.0,America,735086,32922,1.067752